.About-page .slide-image:hover {
  transform: scale(1); /* magnify by 10% on hover */
  transform: translateX(10px); /* magnify by 10% on hover */

  z-index: 1;
}
.About-page .image-item{
  align-self: flex-end!important; 
  width:40%;
  /* border:5px dashed; */
}
.About-page .slide-text{
  flex: 1 1 auto;
  align-self: flex-end!important; 
  width:80%;
  border:5px dashed;
  max-width: 80%; /* okay to keep this if you want 50/50 split */
  font-size: clamp(0.5rem, 1vh, 3rem);
}