.About-page .slide-image:hover {
  transform: scale(1); /* magnify by 10% on hover */
  transform: translateX(10px); /* magnify by 10% on hover */

  z-index: 1;
}
.About-page .image-item{
  align-self: flex-end!important; 
  width:40%;
  /* border:5px dashed; */
}
.About-page .slide-text {
  flex: 1 1 auto!important;
  align-self: flex-start !important;
  width: 80%!important;
  max-width: 80%!important;
  font-size: clamp(0.1rem, 0.7vh, 3rem)!important;
  max-height: 40vh!important;   /* adjust this value so the element’s height is constrained */
  overflow-y: auto!important;
  padding-top:10vh;
  padding-bottom: 10vh;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.About-page .slide-text::-webkit-scrollbar {
  display: none;
}

.About-page .slide-content-wrapper{
  height:70%
}